@keyframes animacja-load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes res-msg-anims{
    /* 0%, 100%{
        transform: scale(1);
    } */
    40%,60%{
        background-color: var(--border);
        padding: 5px;
        border-radius: 5px;
    }
}