/* - */
#menu{
    width: 290px;

    .servery{
        background-color: var(--servery);
        height: 100vh;
        width: 50px;
        button{
            width: 80%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: none;
            background-color: var(--panel);
            color: var(--txt);
            margin: 2px 0;
            :hover{
                background-color: var(--menu);
            }
        }
    }

    #leftPanel{
        overflow: auto;
        height: calc(100vh - 60px);
        background-color: var(--panel);
        z-index: 20;
        padding: 0 4px;
        width: 240px;
        #invites{
            div{
                padding: 5px 0;
                border-top: 1px solid var(--border);
                border-bottom: 1px solid var(--border);
                margin-bottom: 5px;
            }
        }
    }
}
/* -- */

#accountPanel{
    height: 60px;
    width: 240px;
    background-color: var(--userProfile);
}

#goMain{
    transition: transform 1s;
}

#goMain:hover{
    transform: rotate(10deg);
}

#menu #leftPanel button{
    width: 100%;
    height: 2rem;
    border: none;
    margin-top: 5px;
    color: var(--txt);
    background-color: var(--panel);
}

#menu #leftPanel button:hover{
    border-radius: 5px;
    background-color: var(--back);
}

/* - */
#leftPanel-server{
    padding-top: 10px;
    details{
        margin-top: 10px;
    }
    summary{
        padding: 0 5px;
        text-align: left;
        user-select: none;
        cursor: pointer;
    }
}
/* -- */

#serverChannels button{
    text-align: left;
    padding: 0 10px;
}

#serverName{
    word-wrap: break-word;
    text-align: left;
    padding-left: 5px;
    width: 190px;
    display: inline-block;
}

#responeMsgCloseMenu{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--menu);
    cursor: pointer;
    transition: .5s;
}

#responeMsgCloseMenu:hover{
    border-radius: 1rem;
    padding: 7px;
}

.channel_text::before{
    content: "📝";
}

.channel_voice::before{
    content: "🔊";
}

/* - */
.firednsActivityPanel{
    width: 95%;
    height: 60px;
    background-color: var(--panel);
    border-radius: 1rem;
    margin: 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 0 10px;

    position: relative;
    img{
        width: 40px;
    }
}
/* -- */


.firednsActivityPanel_typ{
    border-radius: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 35px;
    left: 37px;
}


