.popUp{
    z-index: 99;
    position: absolute;
    background-color: var(--panel);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border);
}

#mobileMenuToogler{
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 1.7rem;
    background-color: transparent;
    color: white;
    border: 0;
    z-index: 5;
}

/* - */
#alertLink{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 2rem;
    background-color: var(--panel);
    border: 1px solid var(--border);
    button{
        width: 48%;
        height: 2.3rem;
        background-color: var(--back);
        color: var(--txt);
        border-radius: 20px;
        border: 1px solid var(--border);
    }
}

#alertServerAction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 2rem;
    background-color: var(--panel);
    border: 1px solid var(--border);
    
    button{
        width: 80%;
        height: 2.3rem;
        color: var(--txt);
        background-color: var(--panel);
        border: none;
        margin: 2px;
        :hover{
            background-color: var(--menu);
            border-radius: 5px;
        }
    }
}

#addChat{
    font-size: 2rem;
    position: relative;
    ::before{
        width: 50%;
        height: 4px;
    }
    
    ::after{
        width: 4px;
        height: 50%;
    }
}
/* -- */

#addChat::before,
#addChat::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0ba60b;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}


#errMesses div{
    position: absolute;
    max-width: 70%;
    top: -10rem;
    left: 50%;
    transition: .7s;
    font-size: 1.6rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    padding: 5px 10px;
    transform: translateX(-50%);
    z-index: 99;
}

#loadingScreen{
    top: 0;
    left: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    display: flex;
    cursor: progress;
    position: absolute;
    align-items: center;
    justify-content: center;
    animation: animacja-load 1.5s;
    animation-delay: 3.2s;
    background-color: var(--back);
}

.ifp-svg{
    width: 20rem;
    height: 20rem;
    background-color: red;
    -webkit-mask: url(/img/wilk.svg) no-repeat center;
    mask: url(/img/wilk.svg) no-repeat center;
}

#imgSelector div{
    -webkit-mask: var(--url) no-repeat center;
    mask: var(--url) no-repeat center;
    background-color: red;
    width: 10rem;
    aspect-ratio: 1 / 1;
    display: inline-block;
    cursor: pointer;
}

/* - */
#callMedia{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--menu);
    text-align: left;
    min-width: 400px;
    button{
        background-color: var(--back);
        color: var(--txt);
        border: var(--border);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
    }
}
/* -- */

#callUsers li{
    margin-left: 1rem;
}

#callMediaMov{
    background-color: green;
    cursor: grab;
    height: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* - */
#imgSelector{
    top: 1%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: space-between;
    svg{
        width: 150px;
        padding: 10px;
        cursor: pointer;
    }
}

#statusPopUp{
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    button{
        width: 50px;
    }
    
    input{
        width: 200px;
        height: 2rem;
    }
}
/* -- */

#statusPopUp :is(button, input){
    padding: 5px;
    border-radius: 5px;
    background-color: var(--back);
    color: var(--txt);
}

/* - */
#snakesPopUp{
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    canvas{
        width: 98%;
        height: 98%;
        background-color: #333;
    }
    
    #snakesPopUpX{
        border-radius: 50%;
        padding: 10px;
        left: -35px;
        top: -35px;
        position: absolute;
        color: var(--txt);
        background-color: var(--menu);
    }
    
    .snakeMobileBtn{
        width: 50px;
        height: 50px;
        background-color: var(--panel);
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--border);
        color: var(--txt);
        margin: 10px;
    }
}
/* -- */

#casesPopUp{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

/* -- */
#itemsPopUp{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    height: 440px;
    width: 300px;
    overflow: auto;
    img{
        height: 70px;
        padding: 0 5px;
    }
}

#casesHubPopUp{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    height: 440px;
    width: 300px;
    overflow: auto;
    div{
        margin-top: 8px;
    }
    
    .spaceDiv{
        display: flex;
        justify-content: space-between;
    }
    
    .spaceDiv{
        span{
            cursor: pointer;
        }
    }
    
    button{
        background-color: var(--back);
        color: var(--txt);
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
}

/* -- */

#casesHubPopUpCases > :not(:last-child), #casesHubPopUpDaily{
    padding-bottom: 8px;
    border-bottom: 2px solid var(--border);
}

#deivceSelect{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 9999;
}

.getPrompt{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.getPrompt input, .getPrompt button{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--border);
    color: var(--txt);
    background-color: var(--back);
}