/* - */
.user-sleeping-icon{
    background-color: yellow;
    ::after{
        content: '';
        position: absolute;
        top: 5%;
        left: 35%;
        background-color: var(--bg);
        width: 75%;
        height: 75%;
        border-radius: 50%;
    }
}


.user-dnd-icon{
    background-color: #ce3434;
    ::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        background-color: white;
        width: 70%;
        height: 13%;
        border-radius: 3px;
    }
}
/* -- */

.user-active-icon{
    background-color: #4CAF50;
}

.user-inactive-icon{
    background-color: #444;
}