button{
    padding: 10px;
    font-size: 16px;
}

/* - */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 
        80px red;

    :hover{
        border-radius: 10rem;
    }

    .popup-content{
        text-align: center;

        h2{
            --a: 1;
            /* @incm mar; */
        }

        p{
            color: #666;
        }
    }

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}
/* -- */

@media screen and (min-width: 850px){
    .popup{
        width: 500px;
    }
}

#mixin exampleMixin1{
    font-size: 16px;
    color: #333;
    padding: 10px;
}

body{
    /* @incm exampleMixin1; */
    border: none;
}